<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k.dataAccessObject.mapper.AboutUsMapper">
  <resultMap id="BaseResultMap" type="k.thrift.model.AboutUs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, telephone, website, qq, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from k_about_us
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from k_about_us
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="k.thrift.model.AboutUs">
    insert into k_about_us (id, telephone, website, 
      qq, url)
    values (#{id,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="k.thrift.model.AboutUs">
    insert into k_about_us
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="k.thrift.model.AboutUs">
    update k_about_us
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="k.thrift.model.AboutUs">
    update k_about_us
    set telephone = #{telephone,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAboutUs" resultType="aboutUs">
    select * from k_about_us where id = #{id}
  </select>
</mapper>